<div class="auctioneers-book">
  <div class="auctioneers-book__navbar-container">
    <app-navbar appName="HAMMER"></app-navbar>
  </div>
  <div class="auctioneers-book__content">
    <router-outlet>

    </router-outlet>
  </div>
</div>