@import '@paperless-ui/variables';
@import '@paperless-ui/colors';

.auctioneers-book {
    min-height: 100%;
    height: 100%; width: 100%;

    $bodyHeight: calc(100% - #{$navbarHeight});

    &__navbar-container {
        height: $navbarHeight;
    }

    &__content {
        height: $bodyHeight; width: 100%;
        max-height: $bodyHeight;
    }

}
