<div class="row no-gutters auction-info" *unlessNavigationResolveError="{ checkFor: 'lotsAndAuction' }">
  <aside class="col-3">
    <div class="d-flex flex-column flex-nowrap">
      <div class="self-align-center auction-info__auction-name text-center p-3">
        <div class="d-flex align-content-center">
            <span data-qa="go-back-action" class="align-self-center auction-info__back" [routerLink]="['../../../../']" [queryParams]="{ selectedAuction: auction.auctionId, auctionSession: session }" >
                <i class="fas fa-chevron-left "></i>
            </span>
            <div class="pl-1 text-truncate info-container">
              <strong data-qa="auction-info-name">{{ auction.auctionName }}</strong>
              <div data-qa="session" *ngIf="auction.auctionSessions > 1" class="auction-info__session-number">
                <strong>Session {{ session }}</strong>
              </div>
            </div>
        </div>
        <div
          class="auction-info__close-auction" 
          role="button"
          *ngIf="auction.state === 'OPEN'"
          (click)="allLotsAreClosed && openAuctionCloseModal()"
          [class.auction-info__close-auction--disabled]="!allLotsAreClosed"
          [attr.aria-disabled]="!allLotsAreClosed">
            <img src="./assets/img/icons/password_48x48.svg" height="20" width="20" />
        </div>
      </div>
      <div class="auction-info__lots" *ngIf="resolvedLots">
          <app-lot-card
            *ngFor="let lot of resolvedLots; index as i"
            [routerLink]="['./lot', lot.lotId]"
            [lot]="lot"
            [class.confirmed]="lot.state === 'CLOSED' || lot.withdrawn"
            routerLinkActive="selected"
            ></app-lot-card>
      </div>
    </div>
  </aside>
  <section class="col-9 auction-info__lot-info">
    <router-outlet></router-outlet>
  </section>
</div>