@import "@paperless-ui/colors";
$auction-name: 3em;

.auction-info {
    aside, aside > div {
        height: 100%;
    }
    height: 100%;
    max-height: 100%;
    &__auction-name {
        flex: none;
        background: $light-gray;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 2;
        font-size: 0.7em;
        .info-container {
            flex: 1;
        }
    }
    &__close-auction {
        position: absolute;
        border-radius: 50%;
        right: 2em;
        height: 3em; width: 3em;
        line-height: 3em;
        bottom: -1.5em;
        color: $white;
        background-color: $navy;
        cursor: pointer;
        &--disabled {
            background-color: $silver-chalice;
            cursor: default;
        }

    }
    &__session-number {
        font-style: italic;
        font-size: 0.98em;
        color: #808080;
    }
    &__lots {
        overflow: auto;
        background: lightgrey;
        flex: auto;
    }
    &__lot-info {
        height: 100%;
        min-height: 100%;
        border-left: 1px solid #a2a2a2;
        position: relative;
    }
    &__back {
        cursor: pointer;
    }
}