<div class="client-lots-panel" data-qa="client-lots-panel">
  <h5 class="client-lots-panel__title text-uppercase" data-qa="client-lots-panel-title">Client phone bids for sale</h5>
  <div class="client-lots-panel__lot-list" *ngIf="lots !== null">
    <ng-container *ngFor="let lot of lots">
      <div class="row no-gutters mt-2" data-qa="client-lot-panel-row">
        <div class="col-2 lot-number font-weight-bold">Lot <span data-qa="client-lot-id">{{lot.lotId}}</span></div> 
        <div class="col-10 author-and-description text-truncate">
          <ng-container *ngIf="!lot.withdrawn; else lotWithdrawnTemplate">
            <span class="font-weight-bold"><span data-qa="client-lot-author">{{lot.lotAuthor}}</span><span *ngIf="lot.lotDescription">, </span></span>
            <span data-qa="client-lot-description">{{lot.lotDescription}}</span>
          </ng-container>
          <ng-template #lotWithdrawnTemplate>
            <span class="client-lots-panel__lot-withdrawn" data-qa="client-lot-author">
              Lot Withdrawn
            </span>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="lots === null" class="client-lots-panel__error" data-qa="client-lot-panel-error">
    <div class="d-flex align-items-center justify-content-center lot-execution__error">
        <app-error-panel></app-error-panel>
    </div>
  </div>
</div>