@import "@paperless-ui/colors";
.client-lots-panel {
    height: 100%;
    &__title {
        height: 40px;
        position: relative;
        padding-bottom: 3px;
        border-bottom: 1px solid #000;
    }
    $definedHeight: calc(100% - 50px);
    &__lot-list {
        height: $definedHeight;
        max-height: $definedHeight;
        overflow: auto;
    }
    &__error {
        height: $definedHeight;
        & > div {
            height: 100%;
        }
    }
    &__lot-withdrawn {
        background-color: $red;
        color: $white;
        padding: 0.5em;
        font-weight: bold;
    }
}

.col.author-and-description {
    padding-left: 0px;
}

hr.client-lots-underline {
    margin-top: -5px;
}

span.lot-description {
    max-width: 2px;
}