<div class="row no-gutters lot-execution">
    <div class="col-12">
        <div class="lot-execution__client-panel">
            <app-client-panel [client]="client" *ngIf="client">

            </app-client-panel>
            <div *ngIf="!client" class="d-flex align-items-center justify-content-center lot-execution__error">
                <app-error-panel></app-error-panel>
            </div>
        </div>
        <div class="lot-execution__client-lots-panel px-4">
            <app-client-lots-panel [lots]="lots">

            </app-client-lots-panel>
        </div>
    </div>
</div>