.lot-execution {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    &__client-panel {
        height: 55%;
        max-height: 55%;
        overflow: auto;
    }
    &__client-lots-panel {
        height: 45%;
    }
    &__error {
        height: 100%;
    }
    > .col-7, > .col-5, > .col-5 > div {
        height: 100%;
    }
}