@import "@paperless-ui/colors";
@import "@paperless-ui/variables";
.lots-list {
    $panelHeight: 3.75em;
    height: 100%;
    min-width: 100%;
    &__back {
      cursor: pointer;
    }
    &__auction-info {
      height: $panelHeight;
    }
    &__auction-name {
      flex: 1;
      font-size: 0.7em;
      padding-right: 1em;
    }
    &__auction-session {
      font-style: italic;
      font-size: 0.98em;
      color: #808080;
    }
    &__error-panel {
      height: 100%;
    }
    &__auctions-panel-container {
      height: $panelHeight;
      background-color: $light-gray;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
      position: relative;
      z-index: 2;
    }
    & > .col-3 {
      height: 100%;
      max-height: 100%;
    }
    &__lots-container {
      height: calc(100% - #{$panelHeight});
      max-height: calc(100% - #{$panelHeight});
      overflow: auto;
    }
    &__lot-info {
      background-color: #ffff;
    }
    &__content {
      background: #fff;
      position: relative;
      height: 100%;
      max-height: 100%;
      min-height: 100%;
    }
}

.lot-withdrawn {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .lot-withdrawn {
      height: 100%;
    }
  }
}