<div class="row no-gutters lots-list">
  <div class="col-3 border-right">
    <div class="lots-list__auctions-panel-container">
      <div class="d-flex lots-list__auction-info align-items-center">
        <span
          [routerLink]="['/bidx/auctions/lots', loadedAuction.auctionId, 'session', session]"
          data-qa="go-back-action"
          *ngIf="loadedAuction"
          class="lots-list__back mr-2 ml-1">
            <i class="fas fa-chevron-left "></i>
        </span>
        <div class="lots-list__auction-name text-center text-truncate">
          <strong data-qa="auction-info-name">{{ loadedAuction?.auctionName }}</strong>
          <div *ngIf="loadedAuction?.auctionSessions > 1" data-qa="auction-session" class="lots-list__auction-session"><strong>Session {{ session }}</strong></div>
        </div>
      </div>
    </div>
    <div class="lots-list__lots-container">
      <div *ngIf="!errorsLoadingLots" data-qa="lot-card-panel">
        <app-lot-card
          #allLotsCards
          *ngFor="let lot of loadedLots"
          [lot]="lot"
          (click)="selectLot(lot)"
          routerLinkActive="selected"
          [routerLink]="['lot', lot.lotId, 'client', lot.clientContact.clientNumber]"
          [class.confirmed]="lot.state === 'CLOSED' || !!lot.lotExecutionResult || lot.withdrawn">
        </app-lot-card>
      </div>
      <div *ngIf="errorsLoadingLots" class="d-flex align-items-center lots-list__error-panel justify-content-center">
        <app-error-panel></app-error-panel>
      </div>
    </div>
  </div>
  <div class="lots-list__content col-5">
    <router-outlet>
    </router-outlet>
  </div>
  <div class="col-4 lots-list__lot-info border-left">
    <app-lot-information [lot]="selectedLot" *ngIf="!errorsLoadingLots" (lotAction)="onLotAction($event)"></app-lot-information>
    <div *ngIf="errorsLoadingLots" class="d-flex align-items-center justify-content-center lots-list__error-panel">
      <app-error-panel></app-error-panel>
    </div>
  </div>
  <div *ngIf="selectedLot && selectedLot.withdrawn" class="lot-withdrawn__wrapper col-9 offset-3">
    <div class="d-flex align-items-center align-content-center lot-withdrawn justify-content-center">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            This lot has been withdrawn from the session and all its information is not available. Please continue to next lot
            <div class="text-center mt-2">
              <button class="btn btn-primary btn-sm" (click)="goToNextLot(selectedLot)">
                NEXT LOT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>