<div class="modal-header p-2">
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pt-1">
  <form #soldLotForm="ngForm" (ngSubmit)="onSubmit(soldLotForm)">
    <div (click)="showAmountKeypad($event)" class="keypad-input mx-auto keypad-input--focus">
      <app-keypad-input
        confirmationLabel="Winning Amount *"
        name="amount"
        required
        [(ngModel)]="amountFromKeypad"
        [(isFocused)]="deleteAmountCompletely"
        [isActive]="isShowingKeypadForAmount"
        [suffix]="currencyCode"
        >
        <ng-template let-keypad>
          {{ keypad.amount | money }}
        </ng-template>
      </app-keypad-input>
    </div>
    <div (click)="showPaddleKeypad($event)" class="keypad-input mx-auto">
      <app-keypad-input
        confirmationLabel="Paddle Number *"
        name="paddleNumber"
        required
        [pattern]="paddleNumberValidatorPattern"
        [(ngModel)]="paddleFromKeypad"
        [isActive]="isShowingKeypadForPaddle"
        [(isFocused)]="deletePaddleCompletely"
        [errorTemplate]="errorPaddle"
        ></app-keypad-input>
        <ng-template #errorPaddle>
            <i class="fas fa-exclamation-triangle"></i> 
            PLEASE PROVIDE A PADDLE NUMBER.
        </ng-template>
    </div>

    <app-keypad
      *ngIf="isShowingKeypadForAmount"
      [initialValue] = 'amountFromKeypad'
      [(fullDeletion)]="deleteAmountCompletely"
      (amountChanged)="onAmountChanged($event)"
      ></app-keypad>
    <app-keypad
      *ngIf="isShowingKeypadForPaddle"
      [initialValue] = 'paddleFromKeypad'
      [(fullDeletion)]="deletePaddleCompletely"
      (amountChanged)="onPaddleChanged($event)"
      keypadFor="auctioner"
      ></app-keypad>

      <div class="text-center mt-4">
          <button type="button" class="btn btn-outline-primary mr-3 btn-sm" data-qa="cancel-button" (click)="dismissModal()">CANCEL</button>
          <button type="submit" class="btn btn-success btn-sm">CONFIRM RESULT</button>
      </div>

  </form>
</div>