<div class="client-panel">
  <div class="px-4 py-2 client-panel__important-info">
    <div class="row">
      <div class="col-8" data-qa="client-name">
        <div>
          <div class="h4">{{client.partyName}}</div>
          <div class="h5" *ngIf="!isIndividual">{{client.primaryContactName}}</div>
        </div>
      </div>
      <div class="col text-right">
        <h4>
          <img src="./assets/img/icons/paddle_56x56.svg" height="30" width="30" />
          <span data-qa="client-paddle" class="align-middle">{{client.paddle}}</span>
        </h4>
      </div>
    </div>
    <div class="row" *ngIf="client.preferredPhone">
      <div class="col">
        <img src="./assets/img/icons/phone_24x24.svg" height="20" width="20" />
        <span data-qa="client-preferredphone" class="h5 align-middle">{{client.preferredPhone}}</span>
      </div>
    </div>
  </div>
  <div class="px-4">
    <div class="row mt-2">
      <div class="col-8">
        <div *ngIf="client.clientNumber">
          <span class="font-weight-bold">Client Number: </span>
          <span data-qa="client-number">{{client.clientNumber}}</span>
        </div>
      </div>
      <div class="col text-right">
        <div *ngIf="client.clientLevel">
          <span class="font-weight-bold">Level: </span>
          <span data-qa="client-level">{{client.clientLevel}}</span>
        </div>
      </div>
    </div>
    <div class="row mt-2" *ngIf="client.languagePreference">
      <div class="col-12">
          <i class="fas fa-language"></i>
          <span data-qa="client-languagepreference">{{client.languagePreference}}</span>
      </div>
    </div>
    <div class="row mt-2" *ngIf="client.otherPhone">
      <div class="col-12">
        <img src="./assets/img/icons/phone_24x24.svg" height="20" width="20" />
        <span data-qa="client-otherphone" class="align-middle">{{client.otherPhone}}</span>
      </div>
    </div>
    <div class="row mt-2" *ngIf="client.email">
      <div class="col-12">
          <img src="./assets/img/icons/email_24x24.svg" height="20" width="20" />
          <span data-qa="client-contactemail" class="align-middle">{{client.email}}</span>
      </div>
    </div>
    <div class="row mt-2" *ngIf="client.kcm">
      <div class="mt-2 col-12">
        <span class="font-weight-bold">KCM: </span>
        <span data-qa="client-kcm">{{client.kcm}}</span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <span *ngIf="client.coverBid">
          <span class="font-weight-bold">Cover Bid: </span>
          <span data-qa="client-cover-bid">{{ client.coverBid | money }} {{ client.coverBidCurrency }}</span>
        </span>
        <span *ngIf="!client.coverBid" data-qa="client-cover-bid">No cover bid</span>
      </div>
    </div>
  </div>
</div>