@import "@paperless-ui/colors";
.sb-checkbox {
    position: relative;
    input[type=checkbox] {
        visibility: hidden;
        position: absolute;
        &:checked {
            & + .sb-checkbox__icon {
                background-color: $navy;
                &::after {
                    content: "";
                    display: block;
                    width: 70%;
                    height: 40%;
                    border-bottom: 2px solid #fff;
                    border-left: 2px solid #fff;
                    position: absolute;
                    transform: rotate(-45deg);
                    left: 0.2em;
                    top: 0.2em;
                }
            }
        }
    }
    &__icon {
        width: 1.2em; height: 1.2em;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $navy;
    }
}