<div class="bidder-agent">
  <div class="bidder-agent__navbar-container">
    <app-navbar appName="BID/X"></app-navbar>
  </div>
  <div class="bidder-agent__content">
    <router-outlet></router-outlet>
  </div>
</div>