@import '@paperless-ui/variables';
.bidder-agent {
  height: 100%;
  background: #c7c7c7;
  margin-left: 0; margin-right: 0;
  padding-left: 0; padding-right: 0;
  &__content {
    height: calc(100% - #{$navbarHeight});
  }
  &__navbar-container {
    height: $navbarHeight;
  }
}