@import "@paperless-ui/colors";

:host(.ng-invalid) {
    .keypad-input--submitted {
        .keypad-input__error {
            visibility: visible;
            color: $red;
        }
        .keypad-input__amount {
            border-bottom-color: $red;
        }
    }

}

.keypad-input {
    &__label {
        color: #989898;
        font-weight: bold;
        font-size: 0.875em;
        &--active {
            color: $yk-blue;
            & + .keypad-input__amount {
                border-bottom: 1px solid $yk-blue !important;
                margin-top: 0;
                color: #c5c5c5;
            }
        }
    }
    &__wrapper-value {
        min-width: 13.375em;
        flex: 1;
    }
    $cmp: &;
    &__amount {
        transition: margin-top 0.2s;
        border-bottom: 1px solid #c7c7c7;
        font-style: italic;
        margin-top: -1.4em;
        color: transparent;
    }
    &__amount-value {
        &.focused {
            color: $yk-blue;
        }
        &.active {
            border-bottom: 1px solid $yk-blue !important;
        }
    }
    &__error {
        font-size: 0.8em;
        visibility: hidden;
    }
}