<div class="d-flex" [ngClass]="{ 'keypad-input--submitted' : parentForm && parentForm.submitted }">
  <div class="keypad-input__wrapper-value">
    <div class="keypad-input__label" [class.keypad-input__label--active]="isActive">
      {{ confirmationLabel }}
    </div>
    <div *ngIf="!amount" class="keypad-input__amount pr-5">
      <ng-container *ngTemplateOutlet="emptyLabelTemplate ? emptyLabelTemplate : requiredFallback"></ng-container>
    </div>
    <div *ngIf="amount" (click)="focusInput()" class="self-align-top text-right border-bottom keypad-input__amount-value"
      [class.focused]="isFocused" [class.active]="isActive">
      <ng-container *ngTemplateOutlet="(valueTemplate ? valueTemplate : valueFallback); context: templateContext"></ng-container>
    </div>
    <div class="keypad-input__error">
      <ng-container *ngTemplateOutlet="errorTemplate ? errorTemplate : errorFallback"></ng-container>
    </div>
  </div> 
  <div class="ml-1 align-self-center" *ngIf="(suffix && isActive) || valueContext.amount">
    {{ suffix }}
  </div>
</div>
<ng-template #requiredFallback>
    (required)
</ng-template>
<ng-template #errorFallback>
  <span class="text-uppercase">
      <i class="fas fa-exclamation-triangle"></i> Please provide an amount.
  </span>
</ng-template>
<ng-template #valueFallback>
    {{ amount }}
</ng-template>