<div class="d-flex flex-column lot" *ngIf="lot">
  <div class="lot-result-header mb-2" *ngIf="lot.lotExecutionResult">
    <div class="lot-result-header__nobid" *ngIf="lot.lotExecutionResult === 'NOBID'">NO BID</div>
    <div class="lot-result-header__underbid" *ngIf="lot.lotExecutionResult === 'UNDERBID'">UNDERBID {{ lot.lotExecutionAmount | money }} {{ lot.currency }}</div>
    <div class="lot-result-header__won" *ngIf="lot.lotExecutionResult === 'WON'">WON {{ lot.lotExecutionAmount | money }} {{ lot.currency }}</div>
  </div>
  <div class="mb-auto">
    <div class="lot__image-placeholder mx-auto">
      <div class="image mx-auto text-center">
        <img *ngIf="lot.imageUrl" [src]="lot.imageUrl | imageresize:300:300" (load)="onImageLoaded()" [class.d-none]="!imageLoaded" data-qa="lot-image">
        <img *ngIf="!lot.imageUrl" src="assets/img/noimage.png" data-qa="lot-image">
        <div class="text-center" *ngIf="!imageLoaded && lot.imageUrl">Loading image...</div>
      </div>
    </div>
    <div class="lot__estimate text-center font-weight-bold" data-qa="lot-estimation">
      <span data-qa="lot-estimate-low">{{lot.estimateLow | money }}</span> -
      <span data-qa="lot-estimate-high">{{lot.estimateHigh | money }}</span>
      <span data-qa="lot-estimate-currency">{{lot.currency}}</span>
    </div>
    <div class="lot__live-execution"></div>
  </div>
  <div class="lot__agent-actions pb-1" *ngIf="lot.state !== 'SCHEDULED' && !lot.withdrawn">
    <div class="row no-gutters">
      <div (click)="openWinningConfirmation()" data-qa="lot-winning-action" class="col text-center win pl-1">
        <button class="btn btn-light btn-block text-success">
          <i class="fas fa-check"></i>
          WON
        </button>
      </div>
      <div (click)="openUnderbidConfirmation()" data-qa="lot-underbid-action" class="col text-center underbid pr-2 pl-2">
        <button class="btn btn-light btn-block text-warning">
          <i class="fas fa-exclamation"></i>
          UNDERBID
        </button>
      </div>
      <div data-qa="lot-nobid-action" class="col text-center no-bid pr-1" (click)="openNoBidConfirmation()">
        <button class="btn btn-light btn-block text-danger">
          <i class="fas fa-ban"></i>
          NO BID
        </button>
      </div>
    </div>
  </div>
</div>