@import '@paperless-ui/variables';
@import '@paperless-ui/colors';

$lower-space: 8px;
$lower-negative: -16px;

.lot-result-header {
    color: $white;
    font-kerning: none;
    font-weight: bolder;
    text-align: center;
    &__won {
        margin-bottom: $lower-negative;
        padding-top: $lower-space;
        padding-bottom: $lower-space;
        background-color: $green;
    }
    &__nobid {
        margin-bottom: $lower-negative;
        padding-top: $lower-space;
        padding-bottom: $lower-space;
        background-color: $red;
    }
    &__underbid {
        margin-bottom: $lower-negative;
        padding-top: $lower-space;
        padding-bottom: $lower-space;
        background-color: $orange;
    }
}

.lot {
    height: 100%;
    &__image-placeholder {
        width: 20em; height: 20em;
        .image {
            width: 80%; height: 80%;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            img {
                max-height: 100%; max-width: 100%;
                height: 100%;
            }
        }
    }
    &__agent-actions {
        .btn-light {
            background-color: $light-gray;
            border-bottom: 2px solid $silver-chalice;
            &:hover {
                background-color: $silver-chalice;
                color: $white !important;
            }
        }
    }
}