.lots-panel {
  background: #ddd;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  overflow: auto;
  transition: flex-basis 500ms ease-in-out;
  .panel-title {
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
  }
}