<div class="panel lots-panel" data-qa="lot-card-panel">
  <app-lot-card *ngFor="let lot of lots" [lot]="lot" [class.selected]="selected === lot" (selected)="handleSelected($event)"></app-lot-card>
</div>