<div class="reports">
  <div class="reports__navbar-container">
    <app-navbar appName="HAMMER"></app-navbar>
  </div>
  <div class="reports__content">
    <router-outlet>

    </router-outlet>
  </div>
</div>