<div class="modal-header p-2">
  <button type="button" class="close" (click)="onCancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-center" data-qa="nobid-confirm-body">Are you sure you want to confirm this lot as No Bid?</p>
  <div class="text-center">
      <button type="button" class="btn btn-outline-primary mr-3 btn-sm" data-qa="nobid-cancel-button" (click)="onCancel()">CANCEL</button>
      <button type="button" class="btn btn-danger btn-sm" data-qa="nobid-confirm-button" (click)="confirm()">
        CONFIRM RESULT
      </button>
  </div>
</div>