<ng-container>
  <div class="user-image" [style.height.px]="height" [style.width.px]="width">
    <img [height]="height" [width]="width" src="./assets/img/default_profile_img.png" class="rounded-circle user-image__default-img" />
    <img *ngIf="user" [src]="user | getUserImageUrl: height+'x'+width" class="rounded-circle user-image__loaded-img" #userImage (error)="onImageLoadFail($event)"  />
  </div>
</ng-container>
