.user-image {
    display: inline-block;
    position: relative;
    &__loaded-img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    &__default-img {
        z-index: 1;
    }
}