@import "@paperless-ui/variables";
.navbar {
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    z-index: 3;
    .dropdown-item, img {
        cursor: pointer;
    }
    .dropdown-toggle::after{
        display: none;
    }
    &__userwelcome {
        font-family: MercuryDisplay;
    }
    &__app-name {
        font-size: 1.5em;
        font-weight: 600;
        font-family: MercuryDisplay;
        letter-spacing: 2px;
    }
}