<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/slogo.png" class="d-inline-block align-top logo" alt="">
  </a>
  <div class="navbar__app-name">{{ appName }}</div>
  <div ngbDropdown placement="bottom-right">
    <ng-container *ngIf="(currentUserFullName$ | async) as name">
      <span class="navbar__userwelcome pr-1">Welcome: {{ name }}</span>
    </ng-container>
    <app-user-image ngbDropdownToggle data-qa="user-avatar" [user]="currentUserName$ | async"  height="50" width="50" #userImage></app-user-image>
    <div ngbDropdownMenu aria-labelledby="user-dropdown" data-qa="user-options">
        <button class="dropdown-item" (click)="logout()" data-qa="logout-option">
          Log out
        </button>
    </div>
  </div>
</nav>
