@font-face {
    font-family: 'BentonSansComp Book';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp Book';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}@font-face {
    font-family: 'BentonSansComp Book';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp Book';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSansComp';
    src: url('/assets/fonts/BentonSansComp/BentonSansComp-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}