
@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans Book';
    src: url('/assets/fonts/BentonSans/BentonSans-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans Book';
    src: url('/assets/fonts/BentonSans/BentonSans-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('/assets/fonts/BentonSans/BentonSans-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}