.auction-list {
    &__filter {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 1;
        position: relative;;
        font-size: 0.9em;
        label {
            font-size: 0.8em;
        }
    }
    &__auctions {
        height: calc(100% - 2.5em);
        max-height: calc(100% - 2.5em);
        overflow: auto;
    }
    &__options {
        font-size: 0.8em;
    }
}