<ng-container *unlessNavigationResolveError="{ checkFor: 'auctionsCardsAndLocations' }">
  <section class="auction-list__filter p-1 pl-4">
    <div class="form-inline">
      <label for="auctions-locations" class="text-uppercase mr-3 mt-1">
        <strong>Filter by Location</strong>
      </label>
      <div class="auction-list__options">
        <app-sb-dropdown data-qa="filter-by-location" (optionChanged)="onLocationFilterChange($event.value)" selected="All">
          <app-sb-dropdown-option data-qa="all-filter-by-location" value="All" label="All"></app-sb-dropdown-option>
          <app-sb-dropdown-option data-qa="opt-filter-by-location" *ngFor="let location of locations" [value]="location" [label]="location"></app-sb-dropdown-option>
        </app-sb-dropdown>
      </div>
    </div>
  </section>
  <section class="auction-list__auctions">
    <app-auction-card
      *ngFor="let auction of publicAuctionCards"
      [auction]="auction"
      [class.selected]="auction.auctionId === selectedAuction.id && auction.session == selectedAuction.session"
      (click)="handleAuctionClick(auction)"
      class="link"
      data-qa="auction-card">

    </app-auction-card>
  </section>
</ng-container>