<section class="closed-auction-list__filter p-1 pl-4">
  <div class="form-inline">
    <label for="auctions-locations" class="text-uppercase mr-3 mt-1">
      <strong>Filter by Location</strong>
    </label>
    <div class="closed-auction-list__options">
      <app-sb-dropdown data-qa="filter-by-location" (optionChanged)="onLocationFilterChange($event.value)" selected="All">
        <app-sb-dropdown-option data-qa="all-filter-by-location" value="All" label="All"></app-sb-dropdown-option>
        <app-sb-dropdown-option data-qa="opt-filter-by-location" *ngFor="let location of locations" [value]="location" [label]="location"></app-sb-dropdown-option>
      </app-sb-dropdown>
    </div>
  </div>
</section>
<div class="closed-auctions-list">
  <ng-container *ngIf="closedAuctionCards.length; else noAuctions">
    <section class="closed-auctions-list__auctions">
      <a *ngFor="let auction of closedAuctionCards" [attr.href]="getUrl(auction)" (click)="clickHandler(auction)">
        <app-auction-card [auction]="auction" class="link" data-qa="auction-card" 
        [class.selected]="auction.auctionId === selectedAuction.auctionId && auction.session == selectedAuction.sessionId"
        >
        </app-auction-card>
      </a>
    </section>
  </ng-container>
  <ng-template #noAuctions>
    <div class="d-flex justify-content-center align-items-center closed-auctions-list__no-data text-center">
      <div>
        <img src="./assets/img/icons/calendar_56x56.svg">
        <h5 class="mt-1 mb-1 text-primary" data-qa="no-closed-auctions-title">There are no closed auctions.</h5>
        <p class="text-secondary" data-qa="no-phone-bids-extra">As soon as an auction is closed we will update your board
          <br> so you can download final sale report.</p>
      </div>
    </div>
  </ng-template>
</div>