.closed-auctions-list {
    $filterHeight: 2.8125em;
    height: calc(100% - #{$filterHeight});
    max-height: calc(100% - #{$filterHeight});
    background-color: #fff;
    width: 100%;
    a, a:hover, a:active, a:visited {
        text-decoration: none;
    }
    &__auctions {
        height: 100%;
        max-height: 100%;
        overflow: auto;
        text-align: left;
    }
    &__no-data {
        height: 100%;
    }
    &__filter {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 1;
        position: relative;;
        font-size: 0.9em;
        height: $filterHeight;
        label {
            font-size: 0.8em;
        }
    }
    &__options {
        font-size: 0.8em;
    }
}