<div class="price-confirmation">
  <div class="d-flex justify-content-center">
    <div class="price-confirmation__wrapper-value">
      <div class="price-confirmation__label">
        {{ confirmationLabel }}
      </div>
      <div *ngIf="!amount; else amountAvailable" class="price-confirmation__amount pr-5" [class.price-confirmation__amount--invalid]='submitted && isAmountInvalid'>
        (required)
      </div>
      <div class="price-confirmation__error text-uppercase">
        <i class="fas fa-exclamation-triangle"></i> Please provide an amount
      </div>
      <ng-template #amountAvailable>
        <div (click)="fullAmountDeletion = true" class="self-align-top text-right border-bottom price-confirmation__amount-value" [class.focused]="fullAmountDeletion">
          {{ amount | money }}
        </div>
      </ng-template>
    </div>
    <div class="ml-1 align-self-center">
      {{ currencyCode }}
    </div>
  </div>
  <div>
    <app-keypad [(fullDeletion)]="fullAmountDeletion" (amountChanged)="amountChanged($event)" [keypadFor]="keypadFor">

    </app-keypad>
  </div>
  <div class="text-center mt-4">
    <button type="button" class="btn btn-outline-primary mr-3 btn-sm" data-qa="price-cancel-button" (click)="cancel.emit()">CANCEL</button>
    <span (click)="submitAttempt()" data-qa="price-confirm-button">
      <ng-content select="button[confirm]">
      </ng-content>
    </span>
  </div>
</div>