@import "@paperless-ui/colors";
.price-confirmation {
    &__label {
        color: #00253e;
        font-weight: bold;
    }
    &__wrapper-value {
        min-width: 13.375em;
    }
    $cmp: &;
    &__amount {
        border-bottom: 1px solid #c7c7c7;
        opacity: 0.2;
        font-style: italic;
        &--invalid {
            border-bottom-color: red;
            & + #{ $cmp }__error {
                visibility: visible;
                color: red;
            }
        }
    }
    &__amount-value {
        &.focused {
            border-bottom: 1px solid $yk-blue !important;
            color: $yk-blue;
        }
    }
    &__error {
        visibility: hidden;
    }
}