<div class="modal-header p-2">
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pt-1">
  <form #UnsoldLotForm="ngForm" (ngSubmit)="onSubmit(UnsoldLotForm)">
    <div class="keypad-input mx-auto">
      <app-keypad-input
        confirmationLabel="Highest Bid *"
        name="amount"
        required
        [(ngModel)]="amountFromKeypad"
        [(isFocused)]="deleteAmountCompletely"
        [isActive]="true"
        [suffix]="currencyCode"
        >
        <ng-template let-keypad>
          {{ keypad.amount | money }}
        </ng-template>
      </app-keypad-input>
    </div>
    <div>
      <app-keypad
        [(fullDeletion)]="deleteAmountCompletely"
        (amountChanged)="onAmountChanged($event)"
      ></app-keypad>
    </div>
    <div class="text-center mt-4">
        <button type="button" class="btn btn-outline-primary mr-3 btn-sm" data-qa="cancel-button" (click)="dismissModal()">CANCEL</button>
        <button type="submit" class="btn btn-danger btn-sm">CONFIRM RESULT</button>
    </div>

    </form>
</div>