<div class="d-flex navigation-error justify-content-center align-items-center">
  <div class="text-center">
    <div class="navigation-error__icon"><i class="fas fa-gavel text-primary"></i></div>
    <h2 class="text-primary">We apologize for the inconvenience.</h2>
    <div class="navigation-error__subtext">Can't load information right now. Please try again later.</div>
  </div>
</div>