@import "@paperless-ui/colors";
.navigation-error {
    background-color: $white;
    height: 100%;
    &__icon {
        font-size: 3em;
    }
    &__subtext {
        color: $silver-chalice;
    }
}