<div class="not-found__navbar">
  <app-navbar></app-navbar>
</div>
<div class="d-flex not-found__error align-items-center mx-auto justify-content-center">
  <div class="text-center">
    <h3 class="text-primary">
      The page you are looking for does not exist.
    </h3>
    <div class="not-found__error-msg">
      You might have typed in the wrong url or the page has moved. In the meantime, you can try again or head straight to our <a routerLink="/">home page</a>.
    </div>
  </div>
</div>