@import "@paperless-ui/variables";
@import "@paperless-ui/colors";

.not-found {
    &__navbar {
        height: #{$navbarHeight};
    }
    &__error {
        height: calc(100% - #{$navbarHeight});
        max-width: 80%;
    }
    &__error-msg {
        color: $silver-chalice;
        font-style: italic;
    }
}