@import "@paperless-ui/colors";
$top-cmp: &;
.auction-card {
    font-size: 0.8em;
    .card-title {
        font-size: 1.1rem;
        font-family: MercuryDisplay;
    }
    .card-text {
        font-family: BentonSans;
    }
    &__auction-status {
        font-family: BentonSansComp;
    }
    transition: padding-left 0.3s, background-color 0.3s;
    &--open &__auction-status {
        color: $navy;
    }
    &--scheduled &__auction-status {
        color: $gold;
    }
    &--closed {
        background-color: #f0f0f0;
        #{ $top-cmp }__auction-status {
            color: $black;
        }
    }        
    &__session {
        font-style: italic;
        color: #808080;
    }
}
:host(.link) .auction-card:hover {
    cursor: pointer;
}
:host(.link:not(.selected)) .auction-card:hover {
    cursor: pointer;
    background-color: #e9e9e9;
    padding-left: 2em !important;
}
:host(.selected) .auction-card {
    background-color: $yk-blue;
    color: $white !important;
    .text-muted {
        color: $white !important;
    }
}

:host(.selected) .auction-card--open .auction-card__auction-status {
    color: $white;
}