<article class="card auction-card pl-2 pr-2" [ngClass]="[getClassByAuctionState()]">
  <div class="card-body p-2">
    <div [ngSwitch]="auction.state" class="auction-card__auction-status text-uppercase" data-qa="auction-state">
      <ng-container *ngSwitchCase="'SCHEDULED'">
        Upcoming Auction Session
      </ng-container>
      <ng-container *ngSwitchCase="'CLOSED'">
        Past Auction Session
      </ng-container>
      <ng-container *ngSwitchCase="'OPEN'">
        Open Auction Session
      </ng-container>
    </div>
    <h5 class="card-title mb-0">
      <strong data-qa="auction-name">{{ auction.auctionName }}
        <span class="auction-card__session" *ngIf="auction.auctionSessions > 1">
          Session <span data-qa="auction-card-session">{{ auction.session }}</span>
        </span>
        <span data-qa="auction-card-session" *ngIf="auction.auctionSessions === 1"></span>
      </strong>
    </h5>
    <div class="card-text">
      <div>
        Sale Number: <span data-qa="auction-sale-number">{{ auction.auctionId }}</span>
      </div>
      <div>
        Lots: <span data-qa="auction-lots-qty">{{ auction.lots }}</span>
      </div>
    </div>
    <div class="card-text">
      <small class="text-muted text-uppercase" data-qa="auction-location-date">
        <span data-qa="auction-date">{{ auction.date }}</span> |
        <span data-qa="auction-time">{{ auction.time }}</span> |
        <span data-qa="auction-location">{{ auction.location }}</span>
      </small>
    </div>
  </div>
</article>