<div class="modal-header p-2">
  <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0">
  <form #termsForm="ngForm" (ngSubmit)="onSubmit(termsForm)">
    <p>As Auctioneer, I handled all aspects of the sale in accordance with Sotheby’s Live Auction Rules. I am not aware of any
      breach of those rules or of any other directions given by Sotheby’s Compliance Department that were not observed by any
      individual connection with this auction, save as fully disclosed today to the Compliance Officer.</p>
    <div class="mt-3 termns">
      <label class="sb-checkbox mb-0">
        <input type="checkbox" [(ngModel)]="hasUserAgreed" name="termns" required>
        <span class="sb-checkbox__icon"></span>
        I confirm the provided information for the sale is true and correct.
      </label>
    </div>
    <div class="termns__error mb-1">
      <ng-container *ngIf="termsForm.submitted && termsForm.invalid">
        <strong>
            PLEASE CHECK THIS BOX IF YOU WANT TO PROCEED.
        </strong>
      </ng-container>
    </div>
    <div class="text-center mt-2">
      <button type="button" class="btn btn-outline-dark text-uppercase" (click)="dismissModal()" data-qa="close-auction-cancel">CANCEL</button>
      <button type="submit" class="btn btn-primary text-uppercase ml-3" data-qa="close-auction">CLOSE AUCTION</button>
    </div>
  </form>
</div>