@import "@paperless-ui/colors";
.modal-body {
    font-size: 1em;
    button {
        font-size: 0.875rem;
    }
}
.modal-header {
    border-bottom: 0;
}
.termns {
    font-size: 0.875em;
    &__error {
        font-size: 0.55rem;
        height: 1em;
        color: $red;
    }
}