<div ngbDropdown class="sb-dropdown" [ngClass]="[className]">
  <button class="btn btn-outline-primary" [disabled]="disabled" ngbDropdownToggle [style.width.px]="menu.clientWidth + 2">
    <span class="sb-dropdown__label">
      <ng-container *ngIf="!selectedOption">{{ label }}</ng-container>
      <ng-container *ngIf="selectedOption">{{ selectedOption.label }}</ng-container>
    </span>
    <div class="sb-dropdown__carets"></div>
  </button>
  <div ngbDropdownMenu #menu>
    <ng-content select="app-sb-dropdown-option"></ng-content>
  </div>
</div>
