@import "@paperless-ui/colors";
.sb-dropdown {
    font-size: 1em;
    &__label {
        font-size: 1em;
        width: calc(100% - 13px);
        display: inline-block;
        color: #6b6b6b;
    }
    .dropdown-toggle {
        font-size: 1em;
    }
    .dropdown-toggle:focus {
        box-shadow: none;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .btn-outline-primary {
        border-color: #6b6b6b;
        color: #6b6b6b;
        &:not([disabled]):hover {
            background-color: #fff;
            border-color: $yk-blue;
            color: #6b6b6b;
            .sb-dropdown__carets {
                color: $yk-blue;
            }
            .sb-dropdown__label {
                color: #000;
            }
        }
    }
    &.show {
        .sb-dropdown__label {
            color: #000;     
        }
        .sb-dropdown__carets {
            color: $yk-blue;
        }
        .dropdown-toggle {
            background-color: #fff;
            color: #6b6b6b;
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &:focus {
                box-shadow: none;
            }
            &:hover .sb-dropdown__label {
                color: #000;
            }
        }
    }
    &:not(.show) {
        .dropdown-toggle {
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
    .dropdown-menu {
        display: block;
        visibility: hidden;
        min-width: initial;
        font-size: 1em;
        &.show {
            visibility: visible;
            margin-top: 0;
            border: 1px solid $yk-blue;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0;
            min-width: initial;
        }
    }
    &__carets {
        width: 13px;
        display: inline-block;
        position: relative;
        margin-top: 1px;
        &::after, &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
        &::before {
            margin-bottom: 2px;
            border-top: 0; 
            border-right: 0.3em solid transparent;
            border-bottom: 0.3em solid;
            border-left: 0.3em solid transparent;
        }
    }
}