$navy: #00253e;
$yk-blue: #23448d;
$light-gray: #f1f1f1;
$light-blue: #e1edfd;
$green: #67b016;
$red:  #cc0404; 
$carnation: #f24f5a;
$orange: #f5a623;
$white: #ffffff;
$black:#000000;
$gold:#c29d40;
$silver-chalice: #b1b1b1; 