.keypad {
    &__key {
        cursor: pointer;
    }
    &__del {
        max-width: 4em;
        width: 4em;
        display:flex;
        align-items:center;
    }
    &__keyboard {
        width: 16em; 
    }
    &__key-row {
        width: 12em;
        max-width: 12em;
    }
}