<div class="keypad__keyboard border-top border-left border-right border-bottom mx-auto" data-qa="keypad">
    <div class="no-gutters row">
        <div class="col">
            <div class="row no-gutters border-bottom keypad__key-row">
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-1" (click)="append('1')">1</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-2" (click)="append('2')">2</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-3" (click)="append('3')">3</div>
            </div>
            <div class="row no-gutters border-top border-bottom keypad__key-row">
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-4" (click)="append('4')">4</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-5" (click)="append('5')">5</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-6" (click)="append('6')">6</div>
            </div>
            <div class="row no-gutters border-top border-bottom keypad__key-row">
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-7" (click)="append('7')">7</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-8" (click)="append('8')">8</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-9" (click)="append('9')">9</div>
            </div>
            <div class="row no-gutters border-top keypad__key-row">
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-0" (click)="append('0')">0</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" *ngIf="keypadFor === 'bidder'" data-qa="keypad-00" (click)="append('00')">00</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" *ngIf="keypadFor === 'auctioner'" data-qa="keypad-l" (click)="append('L')">L</div>
                <div class="col p-2 self-align-center border-right text-center keypad__key" data-qa="keypad-000" (click)="append('000')">000</div>
            </div>
        </div>
        <div class="col p-2 align-self-stretch text-center keypad__key keypad__del" (click)="handleDelete()">
            <i class="fas fa-long-arrow-alt-left mx-auto"></i>
        </div>
    </div>
</div>