.modal-body {
    font-family: BentonSans;
    font-size: 1em;
    padding-left: 1.25rem; padding-right: 1.25rem;
    button {
        font-size: 0.875rem;
    }
}
.modal-header {
    border-bottom: 0;
}

.termns {
    &__checkbox {
        font-family: BentonSans;
        font-size: 0.875rem;
    }
    &__error {
        visibility: hidden;
        color: red;
        text-transform: uppercase;
        font-size: 0.55rem;
        font-weight: bold;
    }

    &--error{
        .sb-checkbox__icon {
            border-color: red;
        }
        .termns__error {
            visibility: visible;
        }
    }
}