<div class="modal-header p-2">
  <button type="button" class="close" (click)="dismiss()" aria-label="Close" data-qa="open-auction-close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0" [ngClass]="{ 'termns--error': !hasUserAgreed && formSubmitted }">
   <span data-qa="open-auction-body-text">
    By selecting this auction session, you agree to your role as auctioneer defined by the Live Auction Rules and Conditions of Sale/Business 
  </span>
   <div class="mt-3 termns__checkbox">
      <label class="sb-checkbox mb-0">
        <input type="checkbox" [(ngModel)]="hasUserAgreed" data-qa="open-auction-chk-agree">
        <span class="sb-checkbox__icon"></span>
        <span data-qa="open-auction-chk-label">I agree to Rules and Conditions above</span>
      </label>
   </div>
   <div class="termns__error pl-1 mt-1 mb-2">
      <i class="fas fa-exclamation-triangle"></i> <span data-qa="error-msg">Please check the box if you want to proceed</span>
   </div>
   <div class="text-center mt-2">
     <button type="button" class="btn btn-outline-dark text-uppercase" (click)="dismiss()" data-qa="open-auction-cancel">Cancel</button>
     <button type="button" class="btn btn-primary text-uppercase ml-3" (click)="tryToConfirm()" data-qa="open-auction-confirm">Open session</button>
   </div>
</div>