@import "@paperless-ui/bootstrap";
@import "@paperless-ui/fontawesome";
@import "@paperless-ui/fonts/benton-comp";
@import "@paperless-ui/fonts/benton";
@import "@paperless-ui/modals";
@import "@paperless-ui/components";
@import "~ngx-toastr/toastr";

@font-face {
    font-family: MercuryDisplay;
    src: url("/assets/fonts/MercuryDisplay-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: MercuryDisplay;
    src: url("/assets/fonts/MercuryDisplay-Italic.otf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: MercuryDisplay;
    src: url("/assets/fonts/MercuryDisplay-BoldItalic.otf") format("opentype");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: MercuryDisplay;
    src: url("/assets/fonts/MercuryDisplay-Roman.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.toast-info {
    background-color: #23448D !important;
}