<div data-qa="error-message" class="text-center">
  <strong class="text-weight-bold">Sorry, there was a problem...</strong>
  <div>Can't load information right now.</div>
  <div>You may refresh the page or try again later.</div>  
</div>
