<div class="auction-lots" *unlessNavigationResolveError="{ checkFor: 'lotsAndAuction' }">
    <ng-container *ngIf="lots.length; else noLots">
        <div class="auction-lots__filter p-2 border-bottom">
            <label for="filter-by-client" class="text-uppercase mr-2 mb-0" data-qa="filter-by-client-label">
                <ng-container *ngIf="!hasOnlyOneClientAssigned()">
                    Filter by Client
                </ng-container>
                <ng-container *ngIf="hasOnlyOneClientAssigned()">
                    Only client for this session
                </ng-container>
            </label>
            <div class="dropdown d-inline-block">
                <app-sb-dropdown
                    id="filter-by-client"
                    data-qa="filter-by-client-options"
                    [disabled]="hasOnlyOneClientAssigned()"
                    [selected]="selectedFilter"
                    (optionChanged)="onClientChange($event)">
                    <app-sb-dropdown-option value="All" label="All" data-qa="filter-opt-all"></app-sb-dropdown-option>
                    <app-sb-dropdown-option data-qa="filter-opt-name" *ngFor="let name of nameClientsForFilter" [value]="name" [label]="name"></app-sb-dropdown-option>
                </app-sb-dropdown>
            </div>
        </div>
        <div class="auction-lots__lots">
            <app-lot-card
                *ngFor="let lot of lots"
                [lot]="lot"
                [expanded]="true"
                [class.confirmed]="lot.state === 'CLOSED' || lot.withdrawn"
                [routerLink]="['/bidx/auction', auction.auctionId, 'session', session, 'lot', lot.lotId, 'client', lot.clientContact.clientNumber]">
            </app-lot-card>
        </div>
    </ng-container>
    <ng-template #noLots>
        <div class="auction-lots__no-lots d-flex align-items-center justify-content-center">
            There are no lots for this auction session
        </div>
    </ng-template>
</div>