.auction-lots {
    $self: &;
    height: 100%;
    &__filter {
        label, .dropdown {
            font-size: 0.8em;
            vertical-align: middle;
        }
        label {
            font-weight: bold;
        }
        height: 3em;
        & + #{$self}__lots {
            height: calc(100% - 3em);
            max-height: calc(100% - 3em);
            overflow: auto;
        }
    }
    &__no-lots {
        height: 100%;
    }
}