<div class="lot-info d-flex flex-column">
  <div class="lot-withdrawn-wrapper" *ngIf="lot.withdrawn">
    <div class="lot-withdrawn-wrapper__content d-flex">
      <div class="modal-dialog align-self-center">
        <div class="modal-content">
          <div class="modal-body">
            This lot has been withdrawn from the session and all its information is not available. Please continue to next lot
            <div class="text-center mt-2">
              <button class="btn btn-primary btn-sm" (click)="requestNextLot(false)">
                NEXT LOT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lot-info__reserve-price mt-2 mr-4" *ngIf="lot.state !== 'CLOSED'">
    Reserve
    <span class="reserve-price">{{ lot.reservePrice | money }} {{ lot.currency }}</span>
  </div>
  <div 
    *ngIf="lot.state === 'CLOSED'"
    class="lot-info__result p-1"
    [class.lot-info__result--sld]="lot.lotClosureResult === 'SLD'"
    [class.lot-info__result--bi]="lot.lotClosureResult === 'BI'">
    <strong>
      <ng-container *ngIf="lot.lotClosureResult === 'SLD'">
        SOLD for {{ lot.lotClosureAmount | money }} {{ lot.currency }} to {{ lot.lotClosurePaddle }}
      </ng-container>
      <ng-container *ngIf="lot.lotClosureResult === 'BI'">
        UNSOLD {{ lot.lotClosureAmount | money }} {{ lot.currency }}
      </ng-container>
    </strong>
  </div>
  <div>
    <div class="media mr-4">
      <div class="lot-info__image-placeholder">
        <div class="image mx-auto text-center">
          <img [class.d-none]="!imageLoaded" data-qa="lot-image" (load)="onImageLoaded()" class="img-fluid" *ngIf="lot.imageUrl" [src]="lot.imageUrl | imageresize: 256: 256"
            alt="Lot image">
          <img *ngIf="!lot.imageUrl" src="./assets/img/noimage.png" alt="No image for lot" data-qa="lot-image">
          <div class="text-center" *ngIf="!imageLoaded && lot.imageUrl">Loading image...</div>
        </div>
      </div>
      <div class="media-body align-self-end d-flex flex-column py-2">
        <h5 class="text-truncate">
          <strong data-qa="lot-info-author">{{ lot.lotAuthor }}</strong>
          <span *ngIf="lot.lotDescription" data-qa="lot-info-description">, {{ lot.lotDescription }}</span>
        </h5>
        <h5 data-qa="lot-info-estimate">
          <strong>
            <span data-qa="lot-estimate-low">{{ lot.estimateLow | money }}</span> -
            <span data-qa="lot-estimate-high">{{ lot.estimateHigh | money }}</span>
            <span data-qa="lot-estimate-currency">{{ lot.currency }}</span>
          </strong>
        </h5>
        <h6 data-qa="lot-info-painted" *ngIf="lot.executed">{{ lot.executed }}</h6>
        <div class="row no-gutters">
          <div class="col-12">
            <p data-qa="lot-info-medium" class="text-truncate">{{ lot.medium }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top"></div>
  <div class="lot-info__absentee-phone">
    <div class="row no-gutters pb-2">
      <div class="col-6 phone-bidders pb-2">
        <div class="header p-2">
          Telephone Bids
        </div>
        <div class="pl-2 pr-2">
          <ng-container *ngIf="lot.telephoneBidders?.length">
            <div class="row no-gutters mb-2">
              <div class="col-8 sub-header pt-2">BIDDER</div>
              <div class="col-4 sub-header pl-1 pt-2">PADDLE #</div>
            </div>
            <div class="row no-gutters mb-2 align-items-center" *ngFor="let phoneBidder of lot.telephoneBidders">
              <div class="col-8 pr-1">
                <app-user-image [user]="phoneBidder.userName" height="30" width="30"></app-user-image>
                {{ phoneBidder.name }}
              </div>
              <div class="col-4 pl-1">
                <div class="text-left">{{ phoneBidder.paddleNumber }}</div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="container row no-content" *ngIf="lot.telephoneBidders?.length < 1">
          <div class="col d-flex justify-content-center align-self-center">There are no registered phone bids for this lot.</div>  
        </div>
      </div>
      <div class="col-6 absentee-list">
        <div class="header p-2">
          Absentee Bids
        </div>
        <div class="pl-2 pr-2">
          <ng-container *ngIf="lot.absenteeBidders?.length > 1">
            <div class="row no-gutters">
              <div class="col-7 sub-header pb-2 pt-2">
                BID AMOUNT
              </div>
              <div class="col-5 sub-header pb-2 pt-2 pl-3">
                PADDLE #
              </div>
            </div>
            <div *ngFor="let absenteeBid of lot.absenteeBidders" [ngClass]="{ 'text-secondary': !absenteeBid.isReserve, 'text-danger font-weight-bold': absenteeBid.isReserve }"
              class="row no-gutters mb-3">
                <div class="col-7">{{ absenteeBid.amount | money }} {{ lot.currency }}</div>
                <div class="col-5 pl-3">{{ absenteeBid.paddle }}</div>  
            </div>
          </ng-container>
        </div>
        <div class="container row no-content" *ngIf="lot.absenteeBidders?.length <= 1">
          <div class="col d-flex justify-content-center align-self-center">There are no registered absentee bids for this lot.</div>  
        </div>
      </div>
    </div>
  </div>
  <div class="lot-info__actions text-center" *ngIf="auction.state === 'OPEN' && lot.state !== 'SCHEDULED' && !lot.withdrawn">
      <button class="btn btn-danger btn-sm pr-4 pl-4" (click)="openUnsoldLotModal()">UNSOLD</button>
      <button class="btn btn-success btn-sm ml-3" (click)="openSoldLotModal()">SOLD</button>
  </div>
</div>