@import "@paperless-ui/colors";
.lot-info {
    position: relative;
    height: 100%;
    &__reserve-price {
        position: absolute;
        white-space: nowrap;
        right: 0;
        top: 0;
        color: $red;
        font-size: 1.25rem;
        .sync {
            color: $navy;
            cursor: pointer;
        }
    }
    &__image-placeholder {
        width: 13em; height: 13em;
        .image {
            width: 80%; height: 80%;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            img {
                max-height: 100%; max-width: 100%;
                height: 100%;
            }
        }
    }
    &__result {
        color: #fff;
        text-align: center;
        &--sld {
            background-color: $green;
        }
        &--bi {
            background-color: $carnation;
        }
    }
    &__absentee-phone {
        border-top: 1px solid #c7c7c7;
        flex: 1;
        height: 100%;
        font-size: 0.875em;
        max-height: 100%;
        margin-bottom: 3em; // size of the action bar at the bottom plus the margin
        overflow: hidden;
        .phone-bidders {
            border-right: 1px solid #c7c7c7;
        }
        .header {
            font-family: MercuryDisplay;
            color: #000;
            font-size: 1.2rem;
            font-weight: 700;
            background-color: #f3f4f5;
        }
        .sub-header {
            font-family: BentonSansComp;
            font-size: 0.625rem;
            color: #464646;
            font-weight: normal;
        }
        .absentee-list, .phone-bidders, & > .row {
            height: 100%;
            max-height: 100%;
            overflow: auto;
        }
        .phone-bidders {
            color: #461E7B;
        }
        .no-content {
            color: #000;
            height: 80%;
            padding-left: 45px; 
        }
    }
    &__actions {
        position: absolute;
        bottom: 0;
        width: 100%; height: 2em;
        line-height: 2em;
        margin-bottom: 0.5em; margin-top: 0.5em;
        button {
            width: 6.75rem;
        }
    }
    /* overlow ellipsis on flex child */
    .media-body {
        min-width: 0;
        h5, p {
            font-size: 0.9rem;
        }
        h6 {
            font-size: 0.8rem;
        }
    }
}
.lot-withdrawn-wrapper {
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &__content {
        height: 100%;
    }
}