<div class="card" (click)="cardSelected()" data-qa="lot-card">
  <div class="card-body p-2">
    <div class="d-flex">
      <div class="lot-card__image align-self-center text-center mr-2" *ngIf="expanded">
        <img *ngIf="lot.imageUrl" [src]="lot.imageUrl | imageresize: 100: 100" class="img-fluid" data-qa="lot-image" />
        <img *ngIf="!lot.imageUrl" src="assets/img/noimage.png" data-qa="lot-image" class="img-fluid">
      </div>
      <div class="lot-card__body">
        <ng-container [ngSwitch]="lot.state" *ngIf="!lot.withdrawn; else withdrawnTemplate">
          <div *ngSwitchCase="'OPEN'" class="lot-state lot-state--open">OPEN LOT</div>
          <div *ngSwitchCase="'PENDING'" class="lot-state lot-state--open">RESULT PENDING</div>
          <div *ngSwitchCase="'CONFIRMED_BY_BIDDER'" class="lot-state lot-state--closed">RESULT CONFIRMED</div>
          <div *ngSwitchCase="'SCHEDULED'" class="lot-state lot-state--scheduled">UPCOMING LOT</div>
          <div *ngSwitchCase="'CLOSED'" class="lot-state lot-state--closed">CLOSED LOT</div>
        </ng-container>
        <ng-template #withdrawnTemplate>
          <div class="lot-state lot-state--withdrawn">
            WITHDRAWN LOT
          </div>
        </ng-template>
        <h4 class="card-title mb-0" data-qa="lot-card-number">{{ lot.lotId }}</h4>
        <div class="lot-author text-truncate" data-qa="lot-card-author">{{ lot.lotAuthor | uppercase }}</div>
        <div class="text-truncate lot-description" *ngIf="lot.lotDescription" data-qa="lot-card-description">{{ lot.lotDescription }}</div>
        <p class="card-text lot-client" *ngIf="lot.clientContact">
          <strong>Client: </strong>
          <span data-qa="lot-card-client">{{ lot.clientContact.displayName }}</span>
        </p>
      </div>
    </div>
  </div>
</div>