@import "@paperless-ui/colors";
.lot-card {
    &__image {
        width: 100px;
        height: 100px;
        position: relative;
        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__body {
        flex: 1;
        min-width: 0;
    }
}
.lot-state {
    font-family: BentonSansComp;
    font-size: 0.8rem;
    &--open {
        color: $navy;
    }
    &--closed {
        color: $black;
    }
    &--scheduled {
        color: $gold;
    }
}
.lot-author {
    font-size: 0.9rem;
}
.lot-description {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
}
.lot-client {
    font-family: BentonSans;
    font-size: 0.9rem;
}
.card {
    cursor: pointer;
    &:hover {
        background-color: $light-blue;
    }
    .card-title {
        font-weight: 600;
        font-size: 1.25rem;
        font-family: MercuryDisplay;
    }
}
:host(.selected) .card {
    background-color: $yk-blue;
    color: #ffff;
    .lot-state--open, .lot-state--closed, .lot-state--scheduled {
        color: #ffff;
    }
}
:host(.confirmed:not(.selected)) .card {
    background-color: #ececec;
}