<div class="row no-gutters auctions-list" *unlessNavigationResolveError="{ checkFor: 'auctionsCards' }">
  <ng-container *ngIf="auctions.length; else noAuctions">
    <div class="col-6 auctions-list__auctions border-right">
      <app-auction-card
        *ngFor="let auction of auctions"
        class="link"
        routerLinkActive="selected"
        [routerLink]="['./lots', auction.auctionId, 'session', auction.session]"
        [auction]="auction">
      </app-auction-card>
    </div>
    <div class="col-6 auctions-list__auction-lots">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-template #noAuctions>
    <div class="col-12 text-center">
      <div class="d-flex justify-content-center align-items-center auctions-list__no-data">
        <div>
          <img src="./assets/img/icons/calendar_56x56.svg"> 
          <h5 class="mt-1 mb-1 text-primary" data-qa="no-phone-bids-title">No new phone bids, yet.</h5>
          <p class="text-secondary" data-qa="no-phone-bids-extra">As soon as there is a new assignment we will update your board.</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>