.auctions-list {
    height: 100%;
    max-height: 100%;
    background-color: #fff;
    &__auctions, &__auction-lots {
        height: 100%;
        max-height: 100%;
        overflow: auto;
    }
    &__no-data {
        height: 100%;
    }
}