<div class="modal-header p-2">
  <button type="button" class="close" (click)="onCancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <app-price-confirmation
      [currencyCode]="currencyCode"
      [keypadFor]="keypadFor"
      confirmationLabel="Underbid Amount *"
      (cancel)="onCancel()"
      (priceConfirmed)="onPriceConfirmed($event)">
      <button confirm type="button" class="btn btn-warning btn-sm">CONFIRM RESULT</button>
    </app-price-confirmation>
</div>